<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/Logo.png" />
    <title>Bình chọn</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="flex-box">
        <img src="/images/logo.png" alt="" class="logo" />
        <h1 class="title">Bình chọn dành cho khách VIP</h1>
        <div class="alert" id="alert-Message">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Vui lòng chọn 1 trong số những đáp án dưới đây.
        </div>
        <div class="wrapper" id="survey-area"></div>
      </div>
    </div>
  </body>
  <script src="/js/vip.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/tab.js"></script>
</html>
