@keyframes loading {
    0% { 
        background-position: right center;
    }
    50% { 
        background-position: left center;
    }
    100% { 
        background-position: right center;
    }
   }
.wrapper .box label.third-prize {
    background-image: linear-gradient(to right, #F09819 0%, #F0B460 40%, #F2D4AA 51%,  #F0B460 55%, #BD8E4B 100%);
    color: #333;
    animation: loading 8s ease infinite;
    background-size: 200% auto;
}
.wrapper .box label.third-prize span{
    color:#0261AF;
}


.wrapper .box label.second-prize {
    background-image: linear-gradient(to right, #0261AF 0%, #0285F0 40%, #4BA7F2 51%,  #0285F0 55%, #0269BD 100%);
    color: #fff;
    animation: loading 8s ease infinite;
    background-size: 200% auto;
}

.wrapper .box label.second-prize span{
    color:#FFF700;
}

.wrapper .box label.first-prize {
    background-image: linear-gradient(to right, #ED1C24 0%, #F01D24 40%, #F2666A 51%,  #F01D24 55%, #BD171C 100%);
    color: #fff;
    animation: loading 8s ease infinite;
    background-size: 200% auto;
}

.wrapper .box label.first-prize span{
    color:#FFFF19;
}



